{% extends 'main.html' %}
{% block content %}
<div class="container p-5">
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5 mt-5">
          <div class="bg-white p-5 rounded-3 shadow-sm border">
              <div>
                <form action="" method="POST">
                  {% csrf_token %}
                  <p class="text-center text-success" style="font-size: 5.5rem;"><i class="fa-solid fa-envelope-circle-check"></i></p>
                  <p class="text-center text-center h5 ">Please check your email</p>
                  <p class="text-muted text-center">We've sent a code to contact@curfcode.com</p>
                  <div class="row pt-4 pb-2">
                      <div class="col-3">
                          <input class="otp-letter-input" type="text" name="num1" maxlength="1" required/>
                      </div>
                      <div class="col-3">
                          <input class="otp-letter-input" type="text" name="num2" maxlength="1" required/>
                      </div>
                      <div class="col-3">
                          <input class="otp-letter-input" type="text" name="num3" maxlength="1" required/>
                      </div>
                      <div class="col-3">
                          <input class="otp-letter-input" type="text" name="num4" maxlength="1" required/>
                      </div>
                  </div>
                  <p class="text-muted text-center">Didn't get the code? <a href="#" class="text-success">Click to resend.</a></p>

                  <div class="row pt-5">
                      <div class="col-6">
                          <button class="btn btn-outline-secondary w-100">Cancel</button>
                      </div>
                      <div class="col-6">
                          <button class="btn btn-success w-100" type="submit">Verify</button>
                      </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% comment %} <section class="container-fluid bg-body-tertiary d-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
          <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your code was sent to you via email</p>
  
              <div class="otp-field mb-4">
                <input type="number" name="otp" />
              </div>
  
              <button class="btn btn-primary mb-3">
                Verify
              </button>
  
              <p class="resend text-muted mb-0">
                Didn't receive code? <a href="">Request again</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </section> {% endcomment %}
{% endblock content %}